@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&family=Roboto:wght@300;400;700;900&display=swap");

html,
body {
  width: 100vw;
  line-height: 1.5;
  font-family: "Roboto", sans-serif, "Noto Sans TC", sans-serif;
}

.container {
  max-width: 1296px;
  padding: 80px 16px;
  margin: auto;

  @include mobile() {
    padding: 40px 14px;
  }
}

.button {
  display: block;
  background-color: $primary-red;
  color: #fff;
}
