.contact {
  background: $bg-skin;
  .contact-container {
    max-width: 636px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-size: 48px;
    color: $dark-red;
    & + p {
      margin-top: 48px;
      line-height: 30px;
      font-size: 20px;
    }
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
  }
  input,
  textarea {
    margin-top: 8px;
    width: 100%;
    background: transparent;
    outline: none;
    text-indent: 12px;
    border: 1px solid black;
    &::placeholder {
      color: rgba($color: #000000, $alpha: 0.2);
    }
  }
  textarea {
    height: 136px;
  }
  input {
    height: 33px;
  }
  .checkBox {
    width: 24px;
    height: 24px;
    margin: 0;
    & + span {
      margin-left: 4px;
    }
  }
  button {
    display: block;
    padding: 16px 176px;
    background-color: $primary-red;
    color: white;
    margin: 48px auto 0;
  }
}
