.feedback {
  h2 {
    line-height: 72px;
    font-size: 48px;
    color: $dark-red;
    font-weight: bold;
    text-align: center;
  }
  .cards {
    margin-top: 48px;
    display: flex;
    // align-items: stretch;
    gap: 24px;
  }
  .card {
    border: 1px solid #00000029;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;
    max-width: 306px;
    img {
      width: 100%;
    }
    .content {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 205px;
    }
    p {
      flex-grow: 1;
      margin-top: 8px;
    }
    .date {
      flex-grow: 0;
      line-height: 21px;
      font-size: 14px;
      color: #707070;
    }
  }
}
