footer {
  .footer-container {
    max-width: 1296px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  background-color: #aa0601;
  color: white;
  padding: 60px 0 32px;
  @include pad() {
    padding: 60px 0 20px;
  }
  @include mobile() {
    padding: 24px 14px;
  }
  nav ul {
    display: flex;
    gap: 48px;
    line-height: 48px;
    @include pad() {
      line-height: 40px;
    }
    @include mobile() {
      display: none;
    }
    a {
      color: white;
    }
  }
  .icon {
    margin-left: auto;
    display: flex;
    gap: 32px;
    @include mobile() {
      gap: 16px;
    }
    img {
      width: 48px;
      @include pad() {
        width: 40px;
      }
      @include mobile() {
        width: 24px;
      }
    }
  }
  .contact-info {
    ul {
      margin-top: 36px;
      line-height: 54px;
      font-size: 36px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include mobile() {
        font-size: 16px;
        line-height: 24px;
        margin-top: 0;
        gap: 8px;
      }
      img {
        vertical-align: middle;
        width: 40px;
        @include mobile() {
          width: 16px;
        }
      }
      span {
        margin-left: 20px;
        @include mobile() {
          margin-left: 10px;
        }
      }
    }
  }
  .copyright {
    border-top: 1px solid white;
    padding-top: 32px;
    margin-top: 32px;
    display: flex;
    width: 100%;
    @include mobile() {
      flex-wrap: wrap;
      gap: 8px;
      padding-top: 16px;
      margin-top: 16px;
    }
    span {
      &:first-child {
        flex-grow: 1;
        @include mobile() {
          width: 100%;
        }
      }
      &:not(:first-child) {
        line-height: 21px;
        font-size: 14px;
        @include mobile() {
          width: 100%;
        }
      }
      &:last-child {
        margin-left: 48px;
        @include mobile() {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}
