@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

// color
$bg-skin: #fbf2f2;
$primary-red: #aa0601;
$dark-red: #650300;
