@import "./reset";

@import "./variable.scss";
@import "./common";
@import "./header.scss";
@import "./footer.scss";
@import "./contactForm.scss";
@import "./feedback.scss";
@import "./co-branding.scss";

header {
  width: 100%;
  background-color: $primary-red;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 36px;

  @include pad() {
    padding: 24px 36px;
  }

  @include mobile() {
    padding: 12px 0 12px 15px;
  }

  h1 {
    width: 80px;
    height: 48px;
    overflow: hidden;

    img {
      width: 80px;
    }
  }
}

.nav {
  display: flex;
  gap: 0 64px;

  @include mobile() {
    display: none;
  }
}
.nav a,
.nav-mobile a {
  color: #fff;
  font-size: 20px;
}

.nav-mobile {
  display: none;

  @include mobile() {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
  }

  li {
    width: 50%;
  }
  a {
    @include mobile() {
      display: block;
      width: 100%;
      padding: 12px 0;
      border: 1px solid #fff;
      text-align: center;

      &:nth-child(odd) {
        border-right: 0px;
      }
    }
  }
}

.banner {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 296px 0;
  background: url("../images/home/home-header.png") no-repeat center center /
    cover;
  color: $dark-red;

  @include pad() {
    background: url("../images/home/home-header-sm.png") no-repeat center center /
      cover;
  }

  @include mobile() {
    height: 396px;
    padding: 144px 0;
  }
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 16%;

  @include pad() {
    margin-right: 36px;
  }

  @include mobile() {
    margin-right: 16px;
  }

  h2 {
    font-size: 36px;

    @include mobile() {
      font-size: 16px;
    }
  }

  p {
    font-size: 64px;
    font-weight: bold;

    @include mobile() {
      font-size: 24px;
    }
  }

  .button {
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 500;
  }
}

.feature {
  background-color: $bg-skin;

  .feature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px 0;
  }

  h2 {
    font-size: 48px;
    font-weight: bold;
    color: $dark-red;

    @include mobile() {
      font-size: 24px;
    }
  }
}

.feature-lists {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 24px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 306px;

  img {
    max-width: 100px;
    height: auto;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    color: $dark-red;
    margin-top: 16px;
  }

  p {
    margin-top: 8px;
  }
}

.classic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px 0;

  h2 {
    font-size: 48px;
    font-weight: bold;
    color: $dark-red;

    @include mobile() {
      font-size: 24px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  img {
    height: 416px;
    width: auto;
  }

  p {
    font-size: 48px;
    color: $primary-red;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    margin-top: 8px;
  }
}
